<header class="w-screen">
  <div>
    <nav>
      <ul class="flex w-full space-x-4 list-none">
        <li><%= link_to "Main Page", articles_path, class: "bg-gray-200 px-1 py-0.25 rounded hover:bg-gray-300"%></li>
        <li><%= link_to "New Article", new_article_path, class: "bg-gray-200 px-1 py-0.25 rounded hover:bg-gray-300"%></li>
        <li><%= link_to "New Text", new_text_comparison_path, class: "bg-gray-200 px-1 py-0.25 rounded hover:bg-gray-300"%></li>
        <% if user_signed_in? %>
        
        <li>
        <%= link_to "#{current_user.email}", edit_user_registration_path, class: "bg-gray-200 px-1 py-0.25 rounded hover:bg-gray-300" %>
        </li>
        <li>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "bg-gray-200 px-1 py-0.25 rounded hover:bg-gray-300" %>
        </li>
        <% else %>
        <li>
        <%= link_to "Sign up", new_user_registration_path, class: "bg-gray-200 px-1 py-0.25 rounded hover:bg-gray-300" %>
        </li>
        <li>
        <%= link_to "Log in", new_user_session_path, class: "bg-gray-200 px-1 py-0.25 rounded hover:bg-gray-300" %>
        </li>
        <% end %>
        </li>
      </ul>
    </nav>
  </div>
<header>
